h2.errbit-title
  | Unresolved Errors 
  span.badge
table.table.table-bordered.errbit-table
  thead
    tr
      th.issue-number-column Task #
      th Affecting
      th Occurrences
  tbody
    td(colspan=4)
      .loading.large
        | Loading 
        img(src="/images/ajax-loader.gif")
