extends ../layouts/application

block content
  .row
    .span4.offset4
      form.well.small-form#login(action="/change_password", method="POST")
        input(type="hidden", name="_method", value="PUT")
        .form-header
          h1 Change Password
        .form-fields
          fieldset
            .control-group
              label.control-label New Password
              .controls
                input(type="password", name="password")

          fieldset
            .control-group
              .controls
                input.btn.btn-success(type="submit", value="Submit")
