extends ../layouts/application

block content
  .d-flex.flex-wrap.py-2.border-bottom.mb-4
    h1 Change Password
  .card.bg-light.border-0.aj-mw-xl
    .card-body
      form#login(action="/change_password", method="POST")
        .mb-3
          label.form-label New Password
          input.form-control(type="password", name="password")
        div
          input.btn.btn-light(type="submit", value="Submit")