extends ../layouts/application

block content
  h1 Login
  form.well.form-horizontal(action="", method="POST")
    fieldset
      .control-group
        label.control-label Email
        .controls
          input(type="text", name="email")
      .control-group
        label.control-label Password
        .controls
          input(type="password", name="password")

    fieldset
      .control-group
        .controls
          input.btn(type="submit", value="Login")
