extends ../layouts/application

block content
  .card.mt-5
    .card-header
      h3.mb-0 Login to Tech Dashboard
    .card-body
      form#login(action="/login", method="POST")
        .mb-3
          label.form-label Email
          input.form-control(type="text", name="email")
        .mb-3
          label.form-label Password
          input.form-control(type="password", name="password")
        div
          input.btn.btn-success(type="submit", value="Login")
