extends ../layouts/application

block content
  .row
    .span4.offset4
      form.well.small-form#login(action="/login", method="POST")
        .form-header
          h1 Login to Tech Dashboard
        .form-fields
          fieldset
            .control-group
              label.control-label Email
              .controls
                input(type="text", name="email")
            .control-group
              label.control-label Password
              .controls
                input(type="password", name="password")

          fieldset
            .control-group
              .controls
                input.btn.btn-success(type="submit", value="Login")
