extends ../layouts/application

block content
  h1 #{theClient ? "Update" : "Create"} Client

  form.well.form-horizontal(action="/admin/clients" + (theClient ? ('/' + theClient.id) : ""), method="POST")
    fieldset
      if theClient
        input(type="hidden", name="_method", value="PUT")

      .control-group
        label.control-label Name
        .controls
          input(type="text", name="client[name]", value=(theClient ? theClient.name : ""))

      .control-group
        .controls
          input.btn(type="submit", value=(theClient ? "Update" : "Create"))

  if theClient
    a.btn(href='/admin/clients/' + theClient.id + '/projects/new')
      i.icon-plus
      |  Add Project
