extends ../layouts/application

block content
  h1 Admin

  h2 Clients
  a(href="/admin/clients/new") Add Client
  a(href="/admin/users/new") Add User
  ul
    each client in clients
      li
        = client.name
        | -
        a(href="/admin/clients/#{client.id}/edit") Edit

        - if (users[client.id])
          ul
            - for user in users[client.id]
              li
                = user.email
                | -
                a(href="/admin/users/#{user.id}/edit") Edit

  - if (users['not assigned'])
    h2 Unassigned Users
    ul
      - for user in users['not assigned']
        li
          = user.email
          | -
          a(href="/admin/users/#{user.id}/edit") Edit
