extends ../layouts/application

block head
  script
    var updateProjectColorsPreview = function() {
      var $target = $('#project-colors-preview'),
          name = $('input[name="project[name]"]').val(),
          bgColor = $('input[name="project[headerBG]"]').val(),
          color = $('input[name="project[headerColor]"]').val(),
          navbarBG = $('input[name="project[navbarBG]"]').val(),
          image = $('input[name="project[imageURL]"]').val(),
          $header = $('#project-preview .header-bg')
          $navbar = $('#project-preview .navbar-bg');
          $brand = $('#project-preview a.brand');

      $target
        .html('<img class="float-end" src="' + image + '" /><h1>' + name + ' Status</h1><p>Welcome to awesomeness</p>');
      $brand
        .css({'color': bgColor});
      $navbar
        .css({'background-color': navbarBG});
      $header
        .css({'background-color': bgColor, 'color': color})
    };

    $(document).ready( function() {
      updateProjectColorsPreview();
    });

    $(document).delegate('input', 'change, keyup', updateProjectColorsPreview);

block sidebar
  h3 #{theClient.name}
  if project
    ul.nav.flex-column
      li.nav-item
        a.btn(href='/admin/clients/' + theClient.id + '/projects/' + project.id + '/services/new')
          i.icon-plus
          |  Add Service
block content
  .d-flex.flex-wrap.py-2.border-bottom.mb-4
    h1 #{project ? "Update" : "Create"} Project
  .container.g-0
    .row
      .col
        .card.bg-light.border-0
          .card-body
            form(action='/admin/clients/' + theClient.id + '/projects' + (project ? ('/' + project.id) : ""), method="POST")
              if project
               input.form-control(type="hidden", name="_method", value="PUT")

              .row.mb-3
                label.col-sm-4.col-form-label.text-end.col-form-label-sm Name
                .col-sm-8
                  input.form-control(type="text", name="project[name]", value=(project ? project.name : ""))

              .row.mb-3
                label.col-sm-4.col-form-label.text-end.col-form-label-sm URL
                .col-sm-8
                  input.form-control(type="text", name="project[url]", value=(project ? project.url : ""))

              .row.mb-3
                label.col-sm-4.col-form-label.text-end.col-form-label-sm Header Background (CSS value)
                .col-sm-8
                  input.form-control(type="text", name="project[headerBG]", value=(project ? project.headerBG : ""))

              .row.mb-3
                label.col-sm-4.col-form-label.text-end.col-form-label-sm Header Text Color (CSS value)
                .col-sm-8
                  input.form-control(type="text", name="project[headerColor]", value=(project ? project.headerColor : ""))

              .row.mb-3
                label.col-sm-4.col-form-label.text-end.col-form-label-sm Navbar Background (CSS value)
                .col-sm-8
                  input.form-control(type="text", name="project[navbarBG]", value=(project ? project.navbarBG : ""))

              .row.mb-3
                label.col-sm-4.col-form-label.text-end.col-form-label-sm Image URL
                .col-sm-8
                  input.form-control(type="text", name="project[imageURL]", value=(project ? project.imageURL : ""))

              .row.mb-3
                .col-sm-4
                .col-sm-8
                  input.btn.btn-light(type="submit", value=(project ? "Update" : "Create"))
      .col
        #project-preview.card
          .card-header.navbar-bg
            a.brand(href='#') Tech Dashboard by Alfa Jango
          .card-body.header-bg
            #project-colors-preview
