body {
  /* Account for fixed navbar */
  padding-top: 60px;
}

#admin-table li {
  clear: both;
}

.loading {
  text-align: center;
  color: #64953B;
  font-size: 16px;
  line-height: 16px;
}
.loading.large {
  padding: 20px;
  font-size: 31px;
  line-height: 31px;
}
.loading img {
  vertical-align: top;
}

h2 .badge {
  margin-left: 5px;
  position: relative;
  top: -2px;
}
