body {
}

.header {
  background: #defce1;
  padding: 20px 0 10px;
}
@media (min-width: 980px) {
  .header {
    padding-top: 55px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 10px;
  }
}

.main-content {
  /* Account for fixed navbar */
  padding-top: 20px;
}

#admin-table ul.project-ul {
  margin-left: 0;
}
#admin-table li.project-li {
  padding: 15px;
  list-style-position: inside;
}
#admin-table li {
  clear: both;
}

.loading {
  text-align: center;
  color: #64953B;
  font-size: 16px;
  line-height: 16px;
}
.loading.large {
  padding: 20px;
  font-size: 31px;
  line-height: 31px;
}
.loading img {
  vertical-align: top;
}

h2 .badge {
  margin-left: 5px;
  position: relative;
  top: -2px;
}

.recently-updated td {
  background: #e8f7ff;
}

#invoice, #expenses {
  text-align: right;
}
i.refresh-ok {
  position: relative;
  top: 7px;
  right: 10px;
  color: #00A50C;
  display: none;
}

.error-description {
  display: none;
}
