h2.github-cards-title(style="display: inline-block;")
  | Github Open Cards
  span.badge

//-#filters(style="display: inline-block; margin-left: 50px;")
  //-label(for="begin-date", style="display: inline-block; vertical-align: middle") Begin Date
  //-input#begin-date(type="date", style="margin-left: 10px", value="#{new Date().toISOString().split("T")[0]}")

table.table.table-bordered.github-cards-table
  thead
    tr
      th.redmine-ticket-td.issue-number-column Ticket
      th Description
      th.redmine-status-td Status
      th Priority Level
  tbody
    tr
      td(colspan=4)
        .loading.large
          | Loading 
          img(src="/images/ajax-loader.gif")
