h2.redmine-documents-title
  | Documents
  span.badge
table.table.table-bordered.redmine-documents-table
  tbody
    tr
      td(colspan=4)
        .loading.large
          | Loading 
          img(src="/images/ajax-loader.gif")
