$green: #78b347;
$yellow: #f5f26d;
$red: #e47d7d;
$orange: #f1b259;
$grey: #f5f5f5;
$white: #ffffff;
$lighten: 20%;

@function statusHoverColor($color) {
  @return lighten($color, $lighten)
}

@mixin background($color) {
  background-color: $color;
  fill: $color;
}

.status--white {
  @include background($white);
}

.status--grey {
  @include background($grey);
}

.status--green {
  @include background($green);
}

.status--yellow {
  @include background($yellow);
}

.status--orange {
  @include background($orange);
}

.status--red {
  @include background($red);
}

tr:hover {
  .status--green {
    background-color: statusHoverColor($green) !important;
  }
  .status--yellow {
    background-color: statusHoverColor($yellow) !important;
  }
  .status--orange {
    background-color: statusHoverColor($orange) !important;
  }
  .status--red {
    background-color: statusHoverColor($red) !important;
  }
}

