extends ../layouts/application

block content
  h1= title
  if admin
    a(href="/admin") Admin
  p Welcome to #{title}

  if serviceData.redmine
    h2 Issues
    table
      tr
        th Name
        th Status
        th % Done
      each issue in serviceData.redmine.issues
        tr
          td
            = issue.subject
          td
            = issue.status.name
          td
            = issue.done_ratio

  if serviceData.cashboard
    h2 Invoice Amount
    ul
      each line_item in serviceData.cashboard
        li
          = line_item.title
          | -
          = line_item.price_actual
          | -
          = line_item.is_complete
