h2.redmine-title(style="display: inline-block;")
  | Open Tasks
  span.badge

form.settings.form-inline.pull-right
  a.redmine-collapse-all(href="#") Collapse All
  label
    | Version: 
    select.redmine-target-version(name="target_version")
  label
    | Include closed: 
    input.redmine-include-closed(name="include_closed", type="checkbox")

table.table.table-bordered.redmine-table
  thead
    tr
      th.redmine-ticket-td.issue-number-column Ticket
      th Description
      th.redmine-status-td Status
      th Priority Level
  tbody
    tr
      td(colspan=4)
        .loading.large
          | Loading 
          img(src="/images/ajax-loader.gif")
