h2 Invoice Amount
table.table.table-bordered.cashboard-table
  tr
    th Uninvoiced Time
    td.uninvoiced-time.right-align
      .loading
        | Loading 
        img(src="/images/ajax-loader-small.gif")
  tr
    th Uninvoiced Expenses
    td.uninvoiced-expenses.right-align
      .loading
        | Loading 
        img(src="/images/ajax-loader-small.gif")
