doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery-1.7.2.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    block head
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          if currentUser.admin
            a.brand(href="/admin") Tech Dashboard by Alfa Jango
          else
            a.brand(href="/") Tech Dashboard by Alfa Jango
          a.btn.btn-navbar('data-toggle'='collapse', 'data-target'='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .nav-collapse
            ul.nav.pull-right
              if currentUser.admin
                li.dropdown
                  a.dropdown-toggle(href="#", 'data-toggle'='dropdown')
                    | Admin
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href="/admin")
                        i.icon-wrench
                        |  Manage / Settings
                    li
                      a(href="/admin/clients/new")
                        i.icon-plus
                        |  Create Client
                    li
                      a(href="/admin/users/new")
                        i.icon-plus
                        |  Create User
              li
                a(href='/logout') Logout
          block menu

    .header(style=(typeof(project) != 'undefined' && project ? "background: #{project.headerBG}; color: #{project.headerColor};" : ""))
      .container
        block header

    .main-content
      div.container
        - if (message)
          - for(msg in message)
            .alert(class="alert-#{msg}")= message[msg]
        block content
