doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery-1.7.2.min.js')
    block head
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href="#") Alfa Jango Client Dashboard

    .main-content
      div.container
        - if (message)
          - for(msg in message)
            .alert(class="alert-#{msg}")= message[msg]
        block content
