doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    - if (message)
      - for(msg in message)
        p(class=msg)= message[msg]
    block content
